.container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.leftContent {
  & > * {
    margin-right: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.rightContent {
  & > * {
    margin-left: 1.5rem;
    font-size: 20px;
  }
}
