html,
body {
  // padding: 0 5rem;
  margin: 0;
  font-family: 'Ubuntu Mono', monospace;
  color: #fff;
  background-color: $dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code-tag {
  color: $primaryColor;
  margin: 0;
}

h1 {
  font-size: 6rem;
  margin: 0;
}
